<!DOCTYPE html>
<html>


<head>


<title>Logical Reasoning</title>


<link rel="stylesheet" href="{{ url_for('static', filename='css/aptitude.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/mobile-responsive.css') }}">

</head>



<body>



<div class="topic-container">



<h1>Logical Reasoning</h1>


<p>
Practice important logical reasoning concepts for placement exams.
</p>





<div class="syllabus-topic-list">



<a href="#">
Coding & Decoding
</a>



<a href="#">
Number Series
</a>



<a href="#">
Letter Series
</a>



<a href="#">
Blood Relations
</a>



<a href="#">
Direction Sense
</a>



<a href="#">
Seating Arrangement
</a>



<a href="#">
Syllogism
</a>



<a href="#">
Venn Diagram
</a>



<a href="#">
Statement & Conclusion
</a>



<a href="#">
Data Sufficiency
</a>



<a href="#">
Analogy
</a>



<a href="#">
Classification
</a>



</div>
<div class="button-container">


<a href="{{ url_for('logical_learn') }}" class="learn-button">
📘 Learn
</a>


<a href="{{ url_for('practice_mcq', section='logical') }}" class="practice-button">
    📝 Start Practice
</a>

</div>






<div class="back-card">



<a href="/aptitude">

← Back to Aptitude

</a>



</div>





</div>



</body>


</html>