<!DOCTYPE html>
<html>


<head>


<title>Learn Logical Reasoning</title>


<link rel="stylesheet" href="{{ url_for('static', filename='css/aptitude.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/mobile-responsive.css') }}">

</head>



<body>



<div class="topic-container">



<h1>Learn Logical Reasoning</h1>


<p>Select a topic to learn concepts, tricks and shortcuts</p>




<div class="learn-topic-list">



<a href="/learn/coding_decoding">
Coding & Decoding
</a>



<a href="/learn/number_series">
Number Series
</a>



<a href="/learn/letter_series">
Letter Series
</a>



<a href="/learn/blood_relation">
Blood Relations
</a>



<a href="/learn/direction_sense">
Direction Sense
</a>



<a href="/learn/seating_arrangement">
Seating Arrangement
</a>



<a href="/learn/syllogism">
Syllogism
</a>



<a href="/learn/venn_diagram">
Venn Diagram
</a>



<a href="/learn/statement_conclusion">
Statement & Conclusion
</a>



<a href="/learn/data_sufficiency">
Data Sufficiency
</a>



<a href="/learn/analogy">
Analogy
</a>



<a href="/learn/classification">
Classification
</a>



</div>




<div class="back-card">


<a href="/logical">

← Back to Logical Reasoning

</a>


</div>



</div>



</body>


</html>