<!DOCTYPE html>
<html>

<head>

<title>Quantitative Aptitude</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/aptitude.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/mobile-responsive.css') }}">
</head>


<body>


<div class="topic-container">


<h1>Quantitative Aptitude</h1>


<p>
Practice important quantitative aptitude topics for placement exams.
</p>



<!-- BLUE SYLLABUS BOXES -->

<div class="syllabus-topic-list">


<a href="#">
Percentage
</a>


<a href="#">
Number System
</a>


<a href="#">
Profit & Loss
</a>


<a href="#">
Time & Work
</a>


<a href="#">
Probability
</a>


<a href="#">
Ratio & Proportion
</a>


<a href="#">
Average
</a>


<a href="#">
Simple Interest
</a>


<a href="#">
Compound Interest
</a>


<a href="#">
Time Speed Distance
</a>


<a href="#">
Permutation & Combination
</a>


<a href="#">
Data Interpretation
</a>


<a href="#">
Simplification
</a>


<a href="#">
Algebra
</a>


<a href="#">
Mixtures
</a>


<a href="#">
Pipes & Cisterns
</a>


<a href="#">
Partnership
</a>


<a href="#">
HCF & LCM
</a>


<a href="#">
Ages
</a>


<a href="#">
Sequence & Series
</a>


</div>




<!-- BUTTONS -->

<div class="button-container">


<a href="{{ url_for('quant_learn') }}" class="learn-button">

📘 Learn

</a>

<a href="{{ url_for('practice_mcq', section='quantitative') }}" class="practice-button">
    📝 Start Practice
</a>


</div>




<!-- BACK BUTTON -->

<div class="back-card">


<a href="/aptitude">

← Back to Aptitude

</a>


</div>



</div>


</body>


</html>