<!DOCTYPE html>
<html>

<head>

<title>Learn Quantitative Aptitude</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/aptitude.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/mobile-responsive.css') }}">
</head>


<body>


<div class="topic-container">


<h1>Learn Quantitative Aptitude</h1>

<p>Select a topic to learn concepts and formulas</p>



<div class="learn-topic-list">

<a href="/learn/number-system">
Number System
</a>

<a href="/learn/percentage">
Percentage
</a>

<a href="/learn/profit-loss">
Profit & Loss
</a>

<a href="/learn/time-work">
Time & Work
</a>

<a href="/learn/probability">
Probability
</a>


<a href="/learn/ratio-proportion">
Ratio & Proportion
</a>


<a href="/learn/average">
Average
</a>

<a href="/learn/simple-interest">
Simple Interest
</a>


<a href="/learn/compound-interest">
Compound Interest
</a>


<a href="/learn/time-speed-distance">
Time Speed Distance
</a>

<a href="/learn/permutation-combination">
Permutation & Combination
</a>


<a href="/learn/data-interpretation">
Data Interpretation
</a>


<a href="/learn/simplification">
Simplification & Approximation
</a>

<a href="/learn/algebra">
Algebra
</a>


<a href="/learn/mixtures">
Mixtures and Alligation
</a>


<a href="/learn/pipes_cisterns">
Pipes and Cisterns
</a>
<a href="/learn/partnership">
Partnership
</a>

<a href="/learn/hcf_lcm">
HCF & LCM
</a>


<a href="/learn/ages">
Ages
</a>
<a href="/learn/sequence_series">
Sequence & Series
</a>
</div>


<div class="back-card">

<a href="/quantitative">
← Back to Quantitative Aptitude
</a>

</div>


</div>


</body>

</html>