<!DOCTYPE html>
<html>

<head>

<title>Time Speed Distance</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/aptitude.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/mobile-responsive.css') }}">
</head>


<body>


<div class="topic-container">


<h1>Time Speed Distance</h1>


<p>
Learn the relationship between speed, distance and time.
</p>



<div class="learn-section">


<h2>📘 Concept Summary</h2>


<p>
Time Speed Distance problems are based on the movement of objects.
These concepts are used in trains, vehicles, boats and daily life problems.
</p>


</div>



<div class="learn-section">


<h2>⭐ Important Formulas</h2>



<div class="formula-box">

Distance =
<br><br>
Speed × Time

</div>


<div class="formula-box">

Speed =
<br><br>
Distance / Time

</div>


<div class="formula-box">

Time =
<br><br>
Distance / Speed

</div>


</div>



<div class="learn-section">


<h2>💡 Shortcuts & Tricks</h2>


<ul>

<li>
Convert km/hr into m/sec:
<br>
× 5/18
</li>

<li>
Convert m/sec into km/hr:
<br>
× 18/5
</li>

<li>
Speed and time are inversely proportional.
</li>

<li>
Always maintain the same units.
</li>


</ul>


</div>



<div class="learn-section">


<h2>📝 Example</h2>


<p>
A car travels 120 km in 3 hours. Find speed.
</p>


<div class="example-box">


Speed = Distance / Time

<br><br>

= 120 / 3

<br><br>

= 40 km/hr


</div>


</div>



<div class="back-card">

<a href="/quant-learn">
← Back to Topics
</a>

</div>


</div>


</body>

</html>