<!DOCTYPE html>
<html>

<head>

<title>Verbal Ability</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/aptitude.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/mobile-responsive.css') }}">
</head>


<body>


<div class="topic-container">


<h1>Verbal Ability</h1>


<p>
Improve English grammar, vocabulary and communication skills for placement exams.
</p>



<div class="syllabus-topic-list">


<a href="#">
Parts of Speech
</a>


<a href="#">
Tenses
</a>


<a href="#">
Articles
</a>


<a href="#">
Prepositions
</a>


<a href="#">
Subject Verb Agreement
</a>


<a href="#">
Active & Passive Voice
</a>


<a href="#">
Direct & Indirect Speech
</a>


<a href="#">
Synonyms & Antonyms
</a>


<a href="#">
One Word Substitution
</a>


<a href="#">
Idioms & Phrases
</a>


<a href="#">
Spellings
</a>


<a href="#">
Reading Comprehension
</a>


<a href="#">
Sentence Completion
</a>


<a href="#">
Sentence Correction
</a>


<a href="#">
Para Jumbles
</a>


<a href="#">
Cloze Test
</a>


<a href="#">
Error Detection
</a>


</div>



<div class="button-container">


<a href="{{ url_for('verbal_learn') }}" class="learn-button">

📘 Learn

</a>



<a href="{{ url_for('practice_mcq', section='verbal') }}" class="practice-button">
    📝 Start Practice
</a>


</div>




<div class="back-card">


<a href="/aptitude">

← Back to Aptitude

</a>


</div>



</div>


</body>

</html>