<!DOCTYPE html>
<html>

<head>

<title>Verbal Ability Learn</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/aptitude.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/mobile-responsive.css') }}">
</head>


<body>


<div class="topic-container">


<h1>Learn Verbal Ability</h1>


<p>
Select a topic to learn concepts, formulas and examples.
</p>



<div class="learn-topic-list">


<a href="{{ url_for('parts_of_speech') }}">
Parts of Speech
</a>


<a href="{{ url_for('tenses') }}">
Tenses
</a>


<a href="{{ url_for('articles') }}">
Articles
</a>

<a href="{{ url_for('prepositions') }}">
Prepositions
</a>


<a href="{{ url_for('subject_verb_agreement') }}">
Subject Verb Agreement
</a>


<a href="{{ url_for('active_passive_voice') }}">
Active & Passive Voice
</a>
<a href="{{ url_for('direct_indirect_speech') }}">
Direct & Indirect Speech
</a>


<a href="{{ url_for('synonyms_antonyms') }}">
Synonyms & Antonyms
</a>


<a href="{{ url_for('one_word_substitution') }}">
One Word Substitution
</a>

<a href="{{ url_for('idioms_phrases') }}">
Idioms & Phrases
</a>


<a href="{{ url_for('sentence_completion') }}">
Sentence Completion
</a>


<a href="{{ url_for('error_detection') }}">
Error Detection
</a>

<a href="{{ url_for('spelling_test') }}">
Spelling Test
</a>


<a href="{{ url_for('reading_comprehension') }}">
Reading Comprehension
</a>


<a href="{{ url_for('sentence_correction') }}">
Sentence Correction
</a>

<a href="{{ url_for('para_jumbles') }}">
Para Jumbles
</a>


<a href="{{ url_for('cloze_test') }}">
Cloze Test
</a>


</div>



<div class="back-card">

<a href="/verbal">

← Back to Topics

</a>

</div>


</div>


</body>

</html>